.bestcoder-logo {
  background-color: #FFFFFF;
  height: 65px;

  font-size: 16px;
  color: $lightest-color;
  margin-left: 17px;

  .main-logo {
    line-height: 65px;
    img{
      margin-left: 22px;
      margin-right: 22px;
      top: 8px;
      position: relative;
    }
  }
}
.interview {
  padding: 4px 8px 4px 8px;
  margin: 8px 8px 4px 8px;
  background-color: #f0f0f0;
}
.x-item-selected {
  background-color:#B0E0E6 !important;
}
.candidate {
  padding: 4px 8px 4px 8px;
  margin: 8px 8px 4px 8px;
  background-color: #f0f0f0;
}
.toolbar {
  background-color:#434343 !important;
}

.toolbar .button {
   background-color:#434343 !important;
   border-color:#434343 !important;
 }

.toolbar .text {
  color:#FFFFFF !important;
}

.toolbar .x-btn-inner {
  color:#FFFFFF !important;
}

.toolbar .productname {
  font-size: 30px;
  color:#FFFFFF
}
.loginitem {
  margin: 20px 0px 20px 0px !important;
}
.loginbutton {
  border-radius: 25px !important;
  background-color:#6B9C0B !important;
  border-color:#6B9C0B !important;
}
.loginencourage {
  width:100%;
  font-size:30px;
  line-height:80px;
  text-align:center;
  float:left
}
.dashboardstatistic {
  width:100%;
  font-size:20px;
  line-height:50px;
  text-align:center;
  float:left;
  color: blueviolet;
}

.morebutton {
  background-color:#FFFFFF !important;
  border-color:#FFFFFF !important;
}

.morebutton .x-btn-inner-default-small {
  color: blueviolet  !important;
  font-size:20px  !important;
  text-decoration:underline !important;
  line-height:50px;
  text-align:center;
  float:left;
  //width: 200px  !important;
  height: 40px  !important;
}

.greeting {
  color: blueviolet  !important;
  font-size:20px  !important;
  line-height:50px;
  text-align:center;
  float:left;
  //width: 200px  !important;
  height: 40px  !important;
}
