.toolbar {
  background-color:#434343 !important;
}
.toolbar .button {
  background-color:#434343 !important;
  border-color:#434343 !important;
}

.toolbar .text {
  color:#FFFFFF !important;
}

.toolbar .x-btn-inner {
  color:#FFFFFF !important;
}

.toolbar .productname {
  font-size: 30px;
  color:#FFFFFF
}
.x-toolbar-footer {
  background-color:#FFFFFF !important;
}